/** main.less */

html {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

body {
  height: inherit;
  margin: 0;
  background-color: #ffffff;
}

.dark body {
  background-color: #1a1a1a;
  color: #e5e5e5;
}

#app {
  height: inherit;
  font-family:
    Google Sans Flex,
    Google Sans,
    Helvetica Neue,
    sans-serif;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
  transition: background 0.8s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.3);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.3);
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

* {
  scrollbar-color: transparent transparent;
}

*:hover {
  scrollbar-color: rgba(128, 128, 128, 0.3) transparent;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
